retail/src/ThickClient/Web References/EMPThickClientWebReference/EMPThickClientService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://thickclient.wavelet.webservices/" targetNamespace="http://thickclient.wavelet.webservices/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getAuthenticate" type="tns:getAuthenticate" />
  <xs:element name="getAuthenticateResponse" type="tns:getAuthenticateResponse" />
  <xs:element name="getNextBranch" type="tns:getNextBranch" />
  <xs:element name="getNextBranchResponse" type="tns:getNextBranchResponse" />
  <xs:element name="getNextCardPaymentConfig" type="tns:getNextCardPaymentConfig" />
  <xs:element name="getNextCardPaymentConfigResponse" type="tns:getNextCardPaymentConfigResponse" />
  <xs:element name="getNextCashAccount" type="tns:getNextCashAccount" />
  <xs:element name="getNextCashAccountResponse" type="tns:getNextCashAccountResponse" />
  <xs:element name="getNextCategoryTree" type="tns:getNextCategoryTree" />
  <xs:element name="getNextCategoryTreeResponse" type="tns:getNextCategoryTreeResponse" />
  <xs:element name="getNextCustAccount" type="tns:getNextCustAccount" />
  <xs:element name="getNextCustAccountResponse" type="tns:getNextCustAccountResponse" />
  <xs:element name="getNextCustUser" type="tns:getNextCustUser" />
  <xs:element name="getNextCustUserResponse" type="tns:getNextCustUserResponse" />
  <xs:element name="getNextItem" type="tns:getNextItem" />
  <xs:element name="getNextItemResponse" type="tns:getNextItemResponse" />
  <xs:element name="getNextOfficialReceipt" type="tns:getNextOfficialReceipt" />
  <xs:element name="getNextOfficialReceiptResponse" type="tns:getNextOfficialReceiptResponse" />
  <xs:element name="getNextSerialNumberDelta" type="tns:getNextSerialNumberDelta" />
  <xs:element name="getNextSerialNumberDeltaResponse" type="tns:getNextSerialNumberDeltaResponse" />
  <xs:element name="getNextStock" type="tns:getNextStock" />
  <xs:element name="getNextStockResponse" type="tns:getNextStockResponse" />
  <xs:element name="getNextSuppAccount" type="tns:getNextSuppAccount" />
  <xs:element name="getNextSuppAccountResponse" type="tns:getNextSuppAccountResponse" />
  <xs:element name="getNextTaxConfig" type="tns:getNextTaxConfig" />
  <xs:element name="getNextTaxConfigResponse" type="tns:getNextTaxConfigResponse" />
  <xs:element name="getNextUser" type="tns:getNextUser" />
  <xs:element name="getNextUserResponse" type="tns:getNextUserResponse" />
  <xs:element name="getPOSTransactionList" type="tns:getPOSTransactionList" />
  <xs:element name="getPOSTransactionListResponse" type="tns:getPOSTransactionListResponse" />
  <xs:element name="getServerTime" type="tns:getServerTime" />
  <xs:element name="getServerTimeResponse" type="tns:getServerTimeResponse" />
  <xs:element name="getUserPermissionList" type="tns:getUserPermissionList" />
  <xs:element name="getUserPermissionListResponse" type="tns:getUserPermissionListResponse" />
  <xs:element name="insertAuditTrail" type="tns:insertAuditTrail" />
  <xs:element name="insertAuditTrailResponse" type="tns:insertAuditTrailResponse" />
  <xs:element name="insertCustAccount" type="tns:insertCustAccount" />
  <xs:element name="insertCustAccountResponse" type="tns:insertCustAccountResponse" />
  <xs:element name="insertCustUser" type="tns:insertCustUser" />
  <xs:element name="insertCustUserResponse" type="tns:insertCustUserResponse" />
  <xs:element name="insertNextTransaction" type="tns:insertNextTransaction" />
  <xs:element name="insertNextTransactionResponse" type="tns:insertNextTransactionResponse" />
  <xs:element name="insertOfficialReceipt" type="tns:insertOfficialReceipt" />
  <xs:element name="insertOfficialReceiptResponse" type="tns:insertOfficialReceiptResponse" />
  <xs:element name="insertTransactionQueue" type="tns:insertTransactionQueue" />
  <xs:element name="insertTransactionQueue1" type="tns:insertTransactionQueue1" />
  <xs:element name="insertTransactionQueue1Response" type="tns:insertTransactionQueue1Response" />
  <xs:element name="insertTransactionQueueResponse" type="tns:insertTransactionQueueResponse" />
  <xs:complexType name="getNextCashAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int" />
      <xs:element minOccurs="0" name="arg1" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getNextCashAccountResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:cashAccountObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cashAccountObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="pkId" type="xs:int" />
      <xs:element minOccurs="0" name="code" type="xs:string" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="accountNumber" type="xs:string" />
      <xs:element minOccurs="0" name="accountType" type="xs:string" />
      <xs:element minOccurs="0" name="currency" type="xs:string" />
      <xs:element minOccurs="0" name="levelLow" type="xs:decimal" />
      <xs:element minOccurs="0" name="levelHigh" type="xs:decimal" />
      <xs:element minOccurs="0" name="facilityAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="overdraftLimit" type="xs:decimal" />
      <xs:element minOccurs="0" name="signatory1" type="xs:string" />
      <xs:element minOccurs="0" name="signatory2" type="xs:string" />
      <xs:element minOccurs="0" name="signatory3" type="xs:string" />
      <xs:element minOccurs="0" name="signatory4" type="xs:string" />
      <xs:element minOccurs="0" name="signature" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="pcCenter" type="xs:int" />
      <xs:element minOccurs="0" name="add1" type="xs:string" />
      <xs:element minOccurs="0" name="add2" type="xs:string" />
      <xs:element minOccurs="0" name="add3" type="xs:string" />
      <xs:element minOccurs="0" name="state" type="xs:string" />
      <xs:element minOccurs="0" name="country" type="xs:string" />
      <xs:element minOccurs="0" name="phone" type="xs:string" />
      <xs:element minOccurs="0" name="contactPerson" type="xs:string" />
      <xs:element minOccurs="0" name="fax" type="xs:string" />
      <xs:element minOccurs="0" name="userIdCreate" type="xs:int" />
      <xs:element minOccurs="0" name="userIdUpdate" type="xs:int" />
      <xs:element minOccurs="0" name="createTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="lastUpdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="status" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertNextTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:txQueueObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="txQueueObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="pkid" type="xs:long" />
      <xs:element minOccurs="0" name="pkString" type="xs:string" />
      <xs:element minOccurs="0" name="fkString" type="xs:string" />
      <xs:element minOccurs="0" name="category" type="xs:string" />
      <xs:element minOccurs="0" name="source" type="xs:string" />
      <xs:element minOccurs="0" name="type" type="xs:string" />
      <xs:element minOccurs="0" name="xml" type="xs:string" />
      <xs:element minOccurs="0" name="userid" type="xs:int" />
      <xs:element minOccurs="0" name="status" type="xs:string" />
      <xs:element minOccurs="0" name="date_created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="date_received" type="xs:dateTime" />
      <xs:element minOccurs="0" name="date_completed" type="xs:dateTime" />
      <xs:element minOccurs="0" name="branchid" type="xs:int" />
      <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="mode" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertNextTransactionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getNextBranch">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getNextBranchResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:branchObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="branchObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" type="xs:string" />
      <xs:element minOccurs="0" name="regNo" type="xs:string" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="addr1" type="xs:string" />
      <xs:element minOccurs="0" name="addr2" type="xs:string" />
      <xs:element minOccurs="0" name="addr3" type="xs:string" />
      <xs:element minOccurs="0" name="zip" type="xs:string" />
      <xs:element minOccurs="0" name="state" type="xs:string" />
      <xs:element minOccurs="0" name="countryCode" type="xs:string" />
      <xs:element minOccurs="0" name="phoneNo" type="xs:string" />
      <xs:element minOccurs="0" name="faxNo" type="xs:string" />
      <xs:element minOccurs="0" name="webUrl" type="xs:string" />
      <xs:element minOccurs="0" name="accPCCenterId" type="xs:int" />
      <xs:element minOccurs="0" name="invLocationId" type="xs:int" />
      <xs:element minOccurs="0" name="status" type="xs:string" />
      <xs:element minOccurs="0" name="lastUpdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="userIdUpdate" type="xs:int" />
      <xs:element minOccurs="0" name="cashbookCash" type="xs:int" />
      <xs:element minOccurs="0" name="cashbookCard" type="xs:int" />
      <xs:element minOccurs="0" name="cashbookCheque" type="xs:int" />
      <xs:element minOccurs="0" name="cashbookPDCheque" type="xs:int" />
      <xs:element minOccurs="0" name="cashbookCoupon" type="xs:int" />
      <xs:element minOccurs="0" name="cashbookOther" type="xs:int" />
      <xs:element minOccurs="0" name="cashbookPayment" type="xs:int" />
      <xs:element minOccurs="0" name="logoURL" type="xs:string" />
      <xs:element minOccurs="0" name="currency" type="xs:string" />
      <xs:element minOccurs="0" name="pricing" type="xs:string" />
      <xs:element minOccurs="0" name="hotlines" type="xs:string" />
      <xs:element minOccurs="0" name="defaultVisaRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="defaultMasterRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="defaultAmexRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="defaultDinerRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="defaultCard1Rate" type="xs:decimal" />
      <xs:element minOccurs="0" name="defaultCard2Rate" type="xs:decimal" />
      <xs:element minOccurs="0" name="defaultCard3Rate" type="xs:decimal" />
      <xs:element minOccurs="0" name="defaultOtherRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="formatInvoiceHeaderText" type="xs:string" />
      <xs:element minOccurs="0" name="formatInvoiceFooterText" type="xs:string" />
      <xs:element minOccurs="0" name="formatInvoiceEntityAddress" type="xs:string" />
      <xs:element minOccurs="0" name="formatInvoiceRow" type="xs:int" />
      <xs:element minOccurs="0" name="formatInvoiceType" type="xs:string" />
      <xs:element minOccurs="0" name="formatCashsaleHeaderText" type="xs:string" />
      <xs:element minOccurs="0" name="formatCashsaleFooterText" type="xs:string" />
      <xs:element minOccurs="0" name="formatCashsaleEntityAddress" type="xs:string" />
      <xs:element minOccurs="0" name="formatCashsaleRow" type="xs:int" />
      <xs:element minOccurs="0" name="formatCashsaleType" type="xs:string" />
      <xs:element minOccurs="0" name="formatReceiptHeaderText" type="xs:string" />
      <xs:element minOccurs="0" name="formatReceiptFooterText" type="xs:string" />
      <xs:element minOccurs="0" name="formatReceiptEntityAddress" type="xs:string" />
      <xs:element minOccurs="0" name="formatReceiptRow" type="xs:int" />
      <xs:element minOccurs="0" name="formatReceiptType" type="xs:string" />
      <xs:element minOccurs="0" name="formatPurchaseOrderHeaderText" type="xs:string" />
      <xs:element minOccurs="0" name="formatPurchaseOrderFooterText" type="xs:string" />
      <xs:element minOccurs="0" name="formatPurchaseOrderRow" type="xs:int" />
      <xs:element minOccurs="0" name="formatPurchaseOrderType" type="xs:string" />
      <xs:element minOccurs="0" name="formatSalarySlipHeaderText" type="xs:string" />
      <xs:element minOccurs="0" name="formatSalarySlipFooterText" type="xs:string" />
      <xs:element minOccurs="0" name="formatSalarySlipRow" type="xs:int" />
      <xs:element minOccurs="0" name="formatSalarySlipType" type="xs:string" />
      <xs:element minOccurs="0" name="formatPaymentVoucherHeaderText" type="xs:string" />
      <xs:element minOccurs="0" name="formatPaymentVoucherFooterText" type="xs:string" />
      <xs:element minOccurs="0" name="formatPaymentVoucherRow" type="xs:int" />
      <xs:element minOccurs="0" name="formatPaymentVoucherType" type="xs:string" />
      <xs:element minOccurs="0" name="formatCreditMemoHeaderText" type="xs:string" />
      <xs:element minOccurs="0" name="formatCreditMemoFooterText" type="xs:string" />
      <xs:element minOccurs="0" name="formatCreditMemoRow" type="xs:int" />
      <xs:element minOccurs="0" name="formatCreditMemoType" type="xs:string" />
      <xs:element minOccurs="0" name="defaultRmaLocationCust" type="xs:int" />
      <xs:element minOccurs="0" name="defaultRmaLocationSupp" type="xs:int" />
      <xs:element minOccurs="0" name="defaultRmaLocationHq" type="xs:int" />
      <xs:element minOccurs="0" name="defaultRmaLocationBranch" type="xs:int" />
      <xs:element minOccurs="0" name="managerPassword01" type="xs:string" />
      <xs:element minOccurs="0" name="managerPassword02" type="xs:string" />
      <xs:element minOccurs="0" name="managerPassword03" type="xs:string" />
      <xs:element minOccurs="0" name="managerPassword04" type="xs:string" />
      <xs:element minOccurs="0" name="managerPassword05" type="xs:string" />
      <xs:element minOccurs="0" name="managerPassword06" type="xs:string" />
      <xs:element minOccurs="0" name="managerPassword07" type="xs:string" />
      <xs:element minOccurs="0" name="managerPassword08" type="xs:string" />
      <xs:element minOccurs="0" name="managerPassword09" type="xs:string" />
      <xs:element minOccurs="0" name="telephoneDeveloper" type="xs:string" />
      <xs:element minOccurs="0" name="telephoneSysadmin" type="xs:string" />
      <xs:element minOccurs="0" name="telephoneClerk" type="xs:string" />
      <xs:element minOccurs="0" name="telephoneAdmin" type="xs:string" />
      <xs:element minOccurs="0" name="telephoneManager" type="xs:string" />
      <xs:element minOccurs="0" name="telephoneSales" type="xs:string" />
      <xs:element minOccurs="0" name="telephoneTechSupport" type="xs:string" />
      <xs:element minOccurs="0" name="telephoneDirector" type="xs:string" />
      <xs:element minOccurs="0" name="mobilephoneDeveloper" type="xs:string" />
      <xs:element minOccurs="0" name="mobilephoneSysadmin" type="xs:string" />
      <xs:element minOccurs="0" name="mobilephoneClerk" type="xs:string" />
      <xs:element minOccurs="0" name="mobilephoneAdmin" type="xs:string" />
      <xs:element minOccurs="0" name="mobilephoneManager" type="xs:string" />
      <xs:element minOccurs="0" name="mobilephoneSales" type="xs:string" />
      <xs:element minOccurs="0" name="mobilephoneTechSupport" type="xs:string" />
      <xs:element minOccurs="0" name="mobilephoneDirector" type="xs:string" />
      <xs:element minOccurs="0" name="emailSystem" type="xs:string" />
      <xs:element minOccurs="0" name="emailDeveloper" type="xs:string" />
      <xs:element minOccurs="0" name="emailSysadmin" type="xs:string" />
      <xs:element minOccurs="0" name="emailClerk" type="xs:string" />
      <xs:element minOccurs="0" name="emailAdmin" type="xs:string" />
      <xs:element minOccurs="0" name="emailManager" type="xs:string" />
      <xs:element minOccurs="0" name="emailSales" type="xs:string" />
      <xs:element minOccurs="0" name="emailTechSupport" type="xs:string" />
      <xs:element minOccurs="0" name="emailDirector" type="xs:string" />
      <xs:element minOccurs="0" name="customerId" type="xs:int" />
      <xs:element minOccurs="0" name="supplierId" type="xs:int" />
      <xs:element minOccurs="0" name="loyaltyCardNoPrefix" type="xs:string" />
      <xs:element minOccurs="0" name="loyaltyCardNoPostfix" type="xs:string" />
      <xs:element minOccurs="0" name="crvDayFrom" type="xs:int" />
      <xs:element minOccurs="0" name="crvDayTo" type="xs:int" />
      <xs:element minOccurs="0" name="formatOfficialReceiptType" type="xs:string" />
      <xs:element minOccurs="0" name="formatProformaInvoiceHeaderText" type="xs:string" />
      <xs:element minOccurs="0" name="formatProformaInvoiceFooterText" type="xs:string" />
      <xs:element minOccurs="0" name="formatProformaInvoiceRow" type="xs:int" />
      <xs:element minOccurs="0" name="formatProformaInvoiceType" type="xs:string" />
      <xs:element minOccurs="0" name="formatServiceNoteHeaderText" type="xs:string" />
      <xs:element minOccurs="0" name="formatServiceNoteFooterText" type="xs:string" />
      <xs:element minOccurs="0" name="formatServiceNoteRow" type="xs:int" />
      <xs:element minOccurs="0" name="formatServiceNoteType" type="xs:string" />
      <xs:element minOccurs="0" name="formatPackingListHeaderText" type="xs:string" />
      <xs:element minOccurs="0" name="formatPackingListFooterText" type="xs:string" />
      <xs:element minOccurs="0" name="formatPackingListRow" type="xs:int" />
      <xs:element minOccurs="0" name="formatPackingListType" type="xs:string" />
      <xs:element minOccurs="0" name="formatJobsheetHeaderText" type="xs:string" />
      <xs:element minOccurs="0" name="formatJobsheetFooterText" type="xs:string" />
      <xs:element minOccurs="0" name="formatJobsheetRow" type="xs:int" />
      <xs:element minOccurs="0" name="formatJobsheetType" type="xs:string" />
      <xs:element minOccurs="0" name="formatGRNHeaderText" type="xs:string" />
      <xs:element minOccurs="0" name="formatGRNFooterText" type="xs:string" />
      <xs:element minOccurs="0" name="formatGRNRow" type="xs:int" />
      <xs:element minOccurs="0" name="formatGRNType" type="xs:string" />
      <xs:element minOccurs="0" name="formatRMAHeaderText" type="xs:string" />
      <xs:element minOccurs="0" name="formatRMAFooterText" type="xs:string" />
      <xs:element minOccurs="0" name="formatRMARow" type="xs:int" />
      <xs:element minOccurs="0" name="formatRMAType" type="xs:string" />
      <xs:element minOccurs="0" name="taxRegNumber" type="xs:string" />
      <xs:element minOccurs="0" name="formatISTHeaderText" type="xs:string" />
      <xs:element minOccurs="0" name="formatISTFooterText" type="xs:string" />
      <xs:element minOccurs="0" name="formatISTRow" type="xs:int" />
      <xs:element minOccurs="0" name="formatISTType" type="xs:string" />
      <xs:element minOccurs="0" name="formatPurchaseReturnHeaderText" type="xs:string" />
      <xs:element minOccurs="0" name="formatPurchaseReturnFooterText" type="xs:string" />
      <xs:element minOccurs="0" name="formatPurchaseReturnRow" type="xs:int" />
      <xs:element minOccurs="0" name="formatPurchaseReturnType" type="xs:string" />
      <xs:element minOccurs="0" name="formatSalesReturnHeaderText" type="xs:string" />
      <xs:element minOccurs="0" name="formatSalesReturnFooterText" type="xs:string" />
      <xs:element minOccurs="0" name="formatSalesReturnRow" type="xs:int" />
      <xs:element minOccurs="0" name="formatSalesReturnType" type="xs:string" />
      <xs:element minOccurs="0" name="formatStmtOfAccountHeaderText" type="xs:string" />
      <xs:element minOccurs="0" name="formatStmtOfAccountFooterText" type="xs:string" />
      <xs:element minOccurs="0" name="formatStmtOfAccountRow" type="xs:int" />
      <xs:element minOccurs="0" name="formatStmtOfAccountType" type="xs:string" />
      <xs:element minOccurs="0" name="formatSalesOrderHeaderText" type="xs:string" />
      <xs:element minOccurs="0" name="formatSalesOrderFooterText" type="xs:string" />
      <xs:element minOccurs="0" name="formatSalesOrderRow" type="xs:int" />
      <xs:element minOccurs="0" name="formatSalesOrderType" type="xs:string" />
      <xs:element minOccurs="0" name="formatConsignmentType" type="xs:string" />
      <xs:element minOccurs="0" name="formatBillingNoteType" type="xs:string" />
      <xs:element minOccurs="0" name="formatBillingNoteHeaderText" type="xs:string" />
      <xs:element minOccurs="0" name="formatBillingNoteFooterText" type="xs:string" />
      <xs:element minOccurs="0" name="formatStockRequisitionType" type="xs:string" />
      <xs:element minOccurs="0" name="formatStockRequisitionHeaderText" type="xs:string" />
      <xs:element minOccurs="0" name="formatStockRequisitionFooterText" type="xs:string" />
      <xs:element minOccurs="0" name="formatChequeHeaderText" type="xs:string" />
      <xs:element minOccurs="0" name="formatChequeFooterText" type="xs:string" />
      <xs:element minOccurs="0" name="formatChequeRow" type="xs:int" />
      <xs:element minOccurs="0" name="formatChequeType" type="xs:string" />
      <xs:element minOccurs="0" name="emailAddress" type="xs:string" />
      <xs:element minOccurs="0" name="facebook" type="xs:string" />
      <xs:element minOccurs="0" name="pkid" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getNextCustAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getNextCustAccountResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:custAccountObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="custAccountObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="pkid" type="xs:int" />
      <xs:element minOccurs="0" name="custAccountCode" type="xs:string" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="accType" type="xs:int" />
      <xs:element minOccurs="0" name="status" type="xs:string" />
      <xs:element minOccurs="0" name="lastUpdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="userIdUpdate" type="xs:int" />
      <xs:element minOccurs="0" name="username" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="nameFirst" type="xs:string" />
      <xs:element minOccurs="0" name="nameLast" type="xs:string" />
      <xs:element minOccurs="0" name="nickname" type="xs:string" />
      <xs:element minOccurs="0" name="title" type="xs:string" />
      <xs:element minOccurs="0" name="designation" type="xs:string" />
      <xs:element minOccurs="0" name="identityNumber" type="xs:string" />
      <xs:element minOccurs="0" name="mainAddress1" type="xs:string" />
      <xs:element minOccurs="0" name="mainAddress2" type="xs:string" />
      <xs:element minOccurs="0" name="mainAddress3" type="xs:string" />
      <xs:element minOccurs="0" name="mainCity" type="xs:string" />
      <xs:element minOccurs="0" name="mainPostcode" type="xs:string" />
      <xs:element minOccurs="0" name="mainState" type="xs:string" />
      <xs:element minOccurs="0" name="mainCountry" type="xs:string" />
      <xs:element minOccurs="0" name="shipAddress1" type="xs:string" />
      <xs:element minOccurs="0" name="shipAddress2" type="xs:string" />
      <xs:element minOccurs="0" name="shipAddress3" type="xs:string" />
      <xs:element minOccurs="0" name="shipCity" type="xs:string" />
      <xs:element minOccurs="0" name="shipPostcode" type="xs:string" />
      <xs:element minOccurs="0" name="shipState" type="xs:string" />
      <xs:element minOccurs="0" name="shipCountry" type="xs:string" />
      <xs:element minOccurs="0" name="billAddress1" type="xs:string" />
      <xs:element minOccurs="0" name="billAddress2" type="xs:string" />
      <xs:element minOccurs="0" name="billAddress3" type="xs:string" />
      <xs:element minOccurs="0" name="billCity" type="xs:string" />
      <xs:element minOccurs="0" name="billPostcode" type="xs:string" />
      <xs:element minOccurs="0" name="billState" type="xs:string" />
      <xs:element minOccurs="0" name="billCountry" type="xs:string" />
      <xs:element minOccurs="0" name="homepage" type="xs:string" />
      <xs:element minOccurs="0" name="email1" type="xs:string" />
      <xs:element minOccurs="0" name="email2" type="xs:string" />
      <xs:element minOccurs="0" name="email3" type="xs:string" />
      <xs:element minOccurs="0" name="creditLimit" type="xs:decimal" />
      <xs:element minOccurs="0" name="creditTerms" type="xs:int" />
      <xs:element minOccurs="0" name="property1" type="xs:string" />
      <xs:element minOccurs="0" name="property2" type="xs:string" />
      <xs:element minOccurs="0" name="property3" type="xs:string" />
      <xs:element minOccurs="0" name="property4" type="xs:string" />
      <xs:element minOccurs="0" name="property5" type="xs:string" />
      <xs:element minOccurs="0" name="note" type="xs:string" />
      <xs:element minOccurs="0" name="salesman" type="xs:int" />
      <xs:element minOccurs="0" name="state" type="xs:string" />
      <xs:element minOccurs="0" name="dealerCode" type="xs:string" />
      <xs:element minOccurs="0" name="factorPricing" type="xs:decimal" />
      <xs:element minOccurs="0" name="factorDiscount" type="xs:decimal" />
      <xs:element minOccurs="0" name="pricingLogic" type="xs:string" />
      <xs:element minOccurs="0" name="pricingScheme" type="xs:string" />
      <xs:element minOccurs="0" name="areaCode" type="xs:string" />
      <xs:element minOccurs="0" name="deptCode" type="xs:string" />
      <xs:element minOccurs="0" name="supplierId" type="xs:int" />
      <xs:element minOccurs="0" name="branch" type="xs:int" />
      <xs:element minOccurs="0" name="pcCenter" type="xs:int" />
      <xs:element minOccurs="0" name="monthlyFees" type="xs:decimal" />
      <xs:element minOccurs="0" name="creditOption" type="xs:string" />
      <xs:element minOccurs="0" name="alertMsg" type="xs:string" />
      <xs:element minOccurs="0" name="category" type="xs:string" />
      <xs:element minOccurs="0" name="categoryId" type="xs:long" />
      <xs:element minOccurs="0" name="main2Address1" type="xs:string" />
      <xs:element minOccurs="0" name="main2Address2" type="xs:string" />
      <xs:element minOccurs="0" name="main2Address3" type="xs:string" />
      <xs:element minOccurs="0" name="main2City" type="xs:string" />
      <xs:element minOccurs="0" name="main2Postcode" type="xs:string" />
      <xs:element minOccurs="0" name="main2State" type="xs:string" />
      <xs:element minOccurs="0" name="main2Country" type="xs:string" />
      <xs:element minOccurs="0" name="main2Telephone1" type="xs:string" />
      <xs:element minOccurs="0" name="main2Telephone2" type="xs:string" />
      <xs:element minOccurs="0" name="main2HomePhone" type="xs:string" />
      <xs:element minOccurs="0" name="main2MobilePhone" type="xs:string" />
      <xs:element minOccurs="0" name="main2FaxNo" type="xs:string" />
      <xs:element minOccurs="0" name="main2Homepage" type="xs:string" />
      <xs:element minOccurs="0" name="main2Email" type="xs:string" />
      <xs:element minOccurs="0" name="mainAddressDesc" type="xs:string" />
      <xs:element minOccurs="0" name="main2AddressDesc" type="xs:string" />
      <xs:element minOccurs="0" name="bizEntityType" type="xs:string" />
      <xs:element minOccurs="0" name="companyRegistrationNumber" type="xs:string" />
      <xs:element minOccurs="0" name="ownerName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vecVehicles" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vecUsers" nillable="true" type="xs:anyType" />
      <xs:element name="boolForceAccountCode" type="xs:boolean" />
      <xs:element minOccurs="0" name="bankIdentifierCode" type="xs:string" />
      <xs:element minOccurs="0" name="bankAccNo" type="xs:string" />
      <xs:element minOccurs="0" name="faxNo" type="xs:string" />
      <xs:element minOccurs="0" name="homePhone" type="xs:string" />
      <xs:element minOccurs="0" name="mobilePhone" type="xs:string" />
      <xs:element minOccurs="0" name="telephone1" type="xs:string" />
      <xs:element minOccurs="0" name="telephone2" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertAuditTrail">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:auditTrailObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="auditTrailObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="pkid" type="xs:long" />
      <xs:element minOccurs="0" name="userId" type="xs:int" />
      <xs:element minOccurs="0" name="namespace" type="xs:string" />
      <xs:element minOccurs="0" name="auditType" type="xs:int" />
      <xs:element minOccurs="0" name="auditLevel" type="xs:int" />
      <xs:element minOccurs="0" name="foreignTable1" type="xs:string" />
      <xs:element minOccurs="0" name="foreignKey1" type="xs:long" />
      <xs:element minOccurs="0" name="foreignTable2" type="xs:string" />
      <xs:element minOccurs="0" name="foreignKey2" type="xs:int" />
      <xs:element minOccurs="0" name="remarks" type="xs:string" />
      <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="state" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="xs:string" />
      <xs:element minOccurs="0" name="tc_entity_table" type="xs:string" />
      <xs:element minOccurs="0" name="tc_entity_id" type="xs:int" />
      <xs:element minOccurs="0" name="tc_action" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertAuditTrailResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUserPermissionList">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getUserPermissionListResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertTransactionQueue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="arg0" nillable="true" type="tns:txQueueObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertTransactionQueueResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getNextUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getNextUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:userObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="userObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="userId" type="xs:int" />
      <xs:element minOccurs="0" name="userName" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="nameFirst" type="xs:string" />
      <xs:element minOccurs="0" name="nameLast" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="xs:string" />
      <xs:element minOccurs="0" name="password2" type="xs:string" />
      <xs:element minOccurs="0" name="locale" type="xs:string" />
      <xs:element minOccurs="0" name="timeCreated" type="xs:dateTime" />
      <xs:element minOccurs="0" name="timeEdited" type="xs:dateTime" />
      <xs:element minOccurs="0" name="timeLastlogin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="timeExpiry" type="xs:dateTime" />
      <xs:element minOccurs="0" name="timeCurfew" type="xs:string" />
      <xs:element minOccurs="0" name="timePasswordExpiry" type="xs:dateTime" />
      <xs:element minOccurs="0" name="timePasswordUpdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="timeValidFrom" type="xs:dateTime" />
      <xs:element minOccurs="0" name="passwordPlain" type="xs:string" />
      <xs:element minOccurs="0" name="preferences" type="xs:string" />
      <xs:element minOccurs="0" name="options" type="xs:string" />
      <xs:element minOccurs="0" name="remarks" type="xs:string" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="mainAddress1" type="xs:string" />
      <xs:element minOccurs="0" name="mainAddress2" type="xs:string" />
      <xs:element minOccurs="0" name="mainAddress3" type="xs:string" />
      <xs:element minOccurs="0" name="mainCity" type="xs:string" />
      <xs:element minOccurs="0" name="mainPostcode" type="xs:string" />
      <xs:element minOccurs="0" name="mainState" type="xs:string" />
      <xs:element minOccurs="0" name="mainCountry" type="xs:string" />
      <xs:element minOccurs="0" name="email1" type="xs:string" />
      <xs:element minOccurs="0" name="email2" type="xs:string" />
      <xs:element minOccurs="0" name="email3" type="xs:string" />
      <xs:element minOccurs="0" name="telephone1" type="xs:string" />
      <xs:element minOccurs="0" name="telephone2" type="xs:string" />
      <xs:element minOccurs="0" name="homePhone" type="xs:string" />
      <xs:element minOccurs="0" name="mobilePhone" type="xs:string" />
      <xs:element minOccurs="0" name="faxNo" type="xs:string" />
      <xs:element minOccurs="0" name="defaultRole" type="xs:int" />
      <xs:element minOccurs="0" name="defaultBranch" type="xs:int" />
      <xs:element minOccurs="0" name="defaultLocation" type="xs:int" />
      <xs:element minOccurs="0" name="defaultLanguage" type="xs:string" />
      <xs:element minOccurs="0" name="defaultPccenter" type="xs:int" />
      <xs:element minOccurs="0" name="defaultCurrency" type="xs:string" />
      <xs:element minOccurs="0" name="useridCreated" type="xs:int" />
      <xs:element minOccurs="0" name="useridEdited" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertOfficialReceipt">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:officialReceiptObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="officialReceiptObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="pkid" type="xs:long" />
      <xs:element minOccurs="0" name="stmtNumber" type="xs:long" />
      <xs:element minOccurs="0" name="entityTable" type="xs:string" />
      <xs:element minOccurs="0" name="entityKey" type="xs:int" />
      <xs:element minOccurs="0" name="entityName" type="xs:string" />
      <xs:element minOccurs="0" name="intReserved1" type="xs:int" />
      <xs:element minOccurs="0" name="strReserved1" type="xs:string" />
      <xs:element minOccurs="0" name="currency" type="xs:string" />
      <xs:element minOccurs="0" name="amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="currency2" type="xs:string" />
      <xs:element minOccurs="0" name="amount2" type="xs:decimal" />
      <xs:element minOccurs="0" name="paymentTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="paymentMethod" type="xs:string" />
      <xs:element minOccurs="0" name="paymentRemarks" type="xs:string" />
      <xs:element minOccurs="0" name="chequeNumber" type="xs:string" />
      <xs:element minOccurs="0" name="state" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="xs:string" />
      <xs:element minOccurs="0" name="lastUpdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="userIdUpdate" type="xs:int" />
      <xs:element minOccurs="0" name="cbCash" type="xs:int" />
      <xs:element minOccurs="0" name="cbCard" type="xs:int" />
      <xs:element minOccurs="0" name="cbCheque" type="xs:int" />
      <xs:element minOccurs="0" name="cbPDCheque" type="xs:int" />
      <xs:element minOccurs="0" name="cbCoupon" type="xs:int" />
      <xs:element minOccurs="0" name="cbOther" type="xs:int" />
      <xs:element minOccurs="0" name="cbChequeCharges" type="xs:int" />
      <xs:element minOccurs="0" name="amountCash" type="xs:decimal" />
      <xs:element minOccurs="0" name="amountCard" type="xs:decimal" />
      <xs:element minOccurs="0" name="amountCheque" type="xs:decimal" />
      <xs:element minOccurs="0" name="amountPDCheque" type="xs:decimal" />
      <xs:element minOccurs="0" name="amountCoupon" type="xs:decimal" />
      <xs:element minOccurs="0" name="amountOther" type="xs:decimal" />
      <xs:element minOccurs="0" name="datePDCheque" type="xs:dateTime" />
      <xs:element minOccurs="0" name="chequeNumberPD" type="xs:string" />
      <xs:element minOccurs="0" name="branch" type="xs:int" />
      <xs:element minOccurs="0" name="pcCenter" type="xs:int" />
      <xs:element minOccurs="0" name="cardPctCharges" type="xs:decimal" />
      <xs:element minOccurs="0" name="cardCharges" type="xs:decimal" />
      <xs:element minOccurs="0" name="cardType" type="xs:string" />
      <xs:element minOccurs="0" name="cardCB" type="xs:int" />
      <xs:element name="pdcExist" type="xs:boolean" />
      <xs:element name="pdcClear" type="xs:boolean" />
      <xs:element minOccurs="0" name="glCodeCredit" type="xs:string" />
      <xs:element minOccurs="0" name="openBalance" type="xs:decimal" />
      <xs:element minOccurs="0" name="cardSurcharge" type="xs:decimal" />
      <xs:element minOccurs="0" name="chequeChargesAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="reversePayment" type="xs:long" />
      <xs:element minOccurs="0" name="eTfrCashbook" type="xs:int" />
      <xs:element minOccurs="0" name="eTfrReference" type="xs:string" />
      <xs:element minOccurs="0" name="eTfrBank" type="xs:string" />
      <xs:element minOccurs="0" name="eTfrRmks" type="xs:string" />
      <xs:element minOccurs="0" name="eTfrDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="eTfrAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="eTfrCharges" type="xs:decimal" />
      <xs:element minOccurs="0" name="cardBank" type="xs:string" />
      <xs:element minOccurs="0" name="cardName" type="xs:string" />
      <xs:element minOccurs="0" name="cardNumber" type="xs:string" />
      <xs:element minOccurs="0" name="cardSecurityNum" type="xs:string" />
      <xs:element minOccurs="0" name="cardValidFrom" type="xs:dateTime" />
      <xs:element minOccurs="0" name="cardValidThru" type="xs:dateTime" />
      <xs:element minOccurs="0" name="pic1" type="xs:int" />
      <xs:element minOccurs="0" name="pic2" type="xs:int" />
      <xs:element minOccurs="0" name="pic3" type="xs:int" />
      <xs:element minOccurs="0" name="format" type="xs:string" />
      <xs:element minOccurs="0" name="chequeStatus" type="xs:string" />
      <xs:element minOccurs="0" name="chequeBankInCb" type="xs:int" />
      <xs:element minOccurs="0" name="pdChequeStatus" type="xs:string" />
      <xs:element minOccurs="0" name="pdChequeBankInCb" type="xs:int" />
      <xs:element minOccurs="0" name="cardApprovalParty" type="xs:string" />
      <xs:element minOccurs="0" name="cardApprovalCode" type="xs:string" />
      <xs:element minOccurs="0" name="cardApprovalTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="statusPayment" type="xs:string" />
      <xs:element minOccurs="0" name="cashDrawer" type="xs:string" />
      <xs:element minOccurs="0" name="remarksReverse" type="xs:string" />
      <xs:element minOccurs="0" name="cardId" type="xs:int" />
      <xs:element minOccurs="0" name="cashNotesReceived" type="xs:decimal" />
      <xs:element minOccurs="0" name="cashNotesChange" type="xs:decimal" />
      <xs:element minOccurs="0" name="synchroKey" type="xs:string" />
      <xs:element minOccurs="0" name="cardBatch" type="xs:string" />
      <xs:element minOccurs="0" name="couponNumber" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vecEntry" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertOfficialReceiptResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertCustAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:custAccountObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertCustAccountResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAuthenticate">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getAuthenticateResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getNextStock">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int" />
      <xs:element minOccurs="0" name="arg1" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getNextStockResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:stockObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="stockObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="pkid" type="xs:int" />
      <xs:element minOccurs="0" name="stockCode" type="xs:string" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="itemId" type="xs:int" />
      <xs:element minOccurs="0" name="locationId" type="xs:int" />
      <xs:element minOccurs="0" name="accPCCenterId" type="xs:int" />
      <xs:element minOccurs="0" name="balance" type="xs:decimal" />
      <xs:element minOccurs="0" name="conditionId" type="xs:int" />
      <xs:element minOccurs="0" name="status" type="xs:string" />
      <xs:element minOccurs="0" name="lastUpdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="userIdUpdate" type="xs:int" />
      <xs:element minOccurs="0" name="guid" type="xs:string" />
      <xs:element minOccurs="0" name="unitCostFifo" type="xs:decimal" />
      <xs:element minOccurs="0" name="unitCostMA" type="xs:decimal" />
      <xs:element minOccurs="0" name="unitCostWA" type="xs:decimal" />
      <xs:element minOccurs="0" name="unitCostLast" type="xs:decimal" />
      <xs:element minOccurs="0" name="unitCostReplacement" type="xs:decimal" />
      <xs:element minOccurs="0" name="lastPurchaseDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="minQty" type="xs:int" />
      <xs:element minOccurs="0" name="maxQty" type="xs:int" />
      <xs:element minOccurs="0" name="subLocation" type="xs:string" />
      <xs:element minOccurs="0" name="itemObject" type="tns:itemObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="itemObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="pkid" type="xs:int" />
      <xs:element minOccurs="0" name="codeAlias" type="xs:string" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="xs:string" />
      <xs:element minOccurs="0" name="lastUpdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="userIdUpdate" type="xs:int" />
      <xs:element minOccurs="0" name="uom" type="xs:string" />
      <xs:element minOccurs="0" name="unitOfMeasure" type="xs:int" />
      <xs:element minOccurs="0" name="enumInvType" type="xs:int" />
      <xs:element minOccurs="0" name="itemType1" type="xs:string" />
      <xs:element minOccurs="0" name="itemType2" type="xs:string" />
      <xs:element minOccurs="0" name="itemType3" type="xs:string" />
      <xs:element minOccurs="0" name="glcode" type="xs:string" />
      <xs:element minOccurs="0" name="categoryId" type="xs:int" />
      <xs:element minOccurs="0" name="state" type="xs:string" />
      <xs:element minOccurs="0" name="category1" type="xs:string" />
      <xs:element minOccurs="0" name="category2" type="xs:string" />
      <xs:element minOccurs="0" name="category3" type="xs:string" />
      <xs:element minOccurs="0" name="category4" type="xs:string" />
      <xs:element minOccurs="0" name="category5" type="xs:string" />
      <xs:element minOccurs="0" name="category6" type="xs:string" />
      <xs:element minOccurs="0" name="category7" type="xs:string" />
      <xs:element minOccurs="0" name="category8" type="xs:string" />
      <xs:element minOccurs="0" name="category9" type="xs:string" />
      <xs:element minOccurs="0" name="category10" type="xs:string" />
      <xs:element name="hasChildren" type="xs:boolean" />
      <xs:element minOccurs="0" name="parentId" type="xs:int" />
      <xs:element minOccurs="0" name="parentRatio" type="xs:decimal" />
      <xs:element minOccurs="0" name="upcCode" type="xs:string" />
      <xs:element minOccurs="0" name="isbnCode" type="xs:string" />
      <xs:element minOccurs="0" name="priceList" type="xs:decimal" />
      <xs:element minOccurs="0" name="priceSale" type="xs:decimal" />
      <xs:element minOccurs="0" name="priceDisc1" type="xs:decimal" />
      <xs:element minOccurs="0" name="priceDisc2" type="xs:decimal" />
      <xs:element minOccurs="0" name="priceDisc3" type="xs:decimal" />
      <xs:element minOccurs="0" name="priceMin" type="xs:decimal" />
      <xs:element minOccurs="0" name="fifoUnitCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="maUnitCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="waUnitCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="lastUnitCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="replacementUnitCost" type="xs:decimal" />
      <xs:element name="serialized" type="xs:boolean" />
      <xs:element minOccurs="0" name="weight" type="xs:decimal" />
      <xs:element minOccurs="0" name="length" type="xs:decimal" />
      <xs:element minOccurs="0" name="width" type="xs:decimal" />
      <xs:element minOccurs="0" name="depth" type="xs:decimal" />
      <xs:element minOccurs="0" name="preferredSupplier" type="xs:int" />
      <xs:element minOccurs="0" name="minOrderQty" type="xs:decimal" />
      <xs:element minOccurs="0" name="leadTime" type="xs:long" />
      <xs:element minOccurs="0" name="reserved1" type="xs:string" />
      <xs:element minOccurs="0" name="reserved2" type="xs:string" />
      <xs:element minOccurs="0" name="reserved3" type="xs:string" />
      <xs:element minOccurs="0" name="pixThumbName" type="xs:string" />
      <xs:element minOccurs="0" name="pixFullName" type="xs:string" />
      <xs:element minOccurs="0" name="pixThumbnail" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="pixFullsize" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="rebate1Pct" type="xs:decimal" />
      <xs:element minOccurs="0" name="rebate1Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="rebate1Start" type="xs:dateTime" />
      <xs:element minOccurs="0" name="rebate1End" type="xs:dateTime" />
      <xs:element minOccurs="0" name="disc1Pct" type="xs:decimal" />
      <xs:element minOccurs="0" name="disc1Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="disc1Start" type="xs:dateTime" />
      <xs:element minOccurs="0" name="disc1End" type="xs:dateTime" />
      <xs:element name="productionRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="productionLeadTime" type="xs:long" />
      <xs:element minOccurs="0" name="productionCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="productionProcess" type="xs:string" />
      <xs:element minOccurs="0" name="productionName" type="xs:string" />
      <xs:element minOccurs="0" name="productionDescription" type="xs:string" />
      <xs:element name="deliveryRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="deliveryLeadTime" type="xs:long" />
      <xs:element minOccurs="0" name="deliveryCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="deliveryProcess" type="xs:string" />
      <xs:element minOccurs="0" name="deliveryName" type="xs:string" />
      <xs:element minOccurs="0" name="deliveryDescription" type="xs:string" />
      <xs:element minOccurs="0" name="deltaPriceRetailAmt" type="xs:decimal" />
      <xs:element minOccurs="0" name="deltaPriceRetailPct" type="xs:decimal" />
      <xs:element minOccurs="0" name="deltaPriceDealerAmt" type="xs:decimal" />
      <xs:element minOccurs="0" name="deltaPriceDealerPct" type="xs:decimal" />
      <xs:element minOccurs="0" name="deltaPriceOutletAmt" type="xs:decimal" />
      <xs:element minOccurs="0" name="deltaPriceOutletPct" type="xs:decimal" />
      <xs:element minOccurs="0" name="discMaxPct" type="xs:decimal" />
      <xs:element minOccurs="0" name="warrantyType" type="xs:string" />
      <xs:element minOccurs="0" name="warrantyPeriod" type="xs:int" />
      <xs:element minOccurs="0" name="shelfLife" type="xs:int" />
      <xs:element minOccurs="0" name="commissionPctSales1" type="xs:decimal" />
      <xs:element minOccurs="0" name="commissionPctSales2" type="xs:decimal" />
      <xs:element minOccurs="0" name="commissionPctSales3" type="xs:decimal" />
      <xs:element minOccurs="0" name="commissionPctSales4" type="xs:decimal" />
      <xs:element minOccurs="0" name="commissionPctPartner" type="xs:decimal" />
      <xs:element minOccurs="0" name="commissionPctGP" type="xs:decimal" />
      <xs:element minOccurs="0" name="logicReorder" type="xs:string" />
      <xs:element minOccurs="0" name="logicMaxQty" type="xs:string" />
      <xs:element minOccurs="0" name="thresholdQtyReorder" type="xs:decimal" />
      <xs:element minOccurs="0" name="thresholdQtyMaxQty" type="xs:decimal" />
      <xs:element minOccurs="0" name="remarks1" type="xs:string" />
      <xs:element minOccurs="0" name="remarks2" type="xs:string" />
      <xs:element minOccurs="0" name="keywords" type="xs:string" />
      <xs:element minOccurs="0" name="prefixLogic" type="xs:string" />
      <xs:element minOccurs="0" name="prefixLength" type="xs:int" />
      <xs:element minOccurs="0" name="prefixCode" type="xs:string" />
      <xs:element minOccurs="0" name="postfixLogic" type="xs:string" />
      <xs:element minOccurs="0" name="postfixLength" type="xs:int" />
      <xs:element minOccurs="0" name="postfixCode" type="xs:string" />
      <xs:element minOccurs="0" name="codeProject" type="xs:string" />
      <xs:element minOccurs="0" name="codeDepartment" type="xs:string" />
      <xs:element minOccurs="0" name="codeDealer" type="xs:string" />
      <xs:element minOccurs="0" name="codeSalesman" type="xs:string" />
      <xs:element minOccurs="0" name="tax_option" type="xs:string" />
      <xs:element minOccurs="0" name="tax_rate" type="xs:decimal" />
      <xs:element minOccurs="0" name="priceEcom" type="xs:decimal" />
      <xs:element minOccurs="0" name="outQty" type="xs:decimal" />
      <xs:element minOccurs="0" name="outUnit" type="xs:string" />
      <xs:element minOccurs="0" name="inQty" type="xs:decimal" />
      <xs:element minOccurs="0" name="inUnit" type="xs:string" />
      <xs:element minOccurs="0" name="innQty" type="xs:decimal" />
      <xs:element minOccurs="0" name="innUnit" type="xs:string" />
      <xs:element minOccurs="0" name="inmQty" type="xs:decimal" />
      <xs:element minOccurs="0" name="inmUnit" type="xs:string" />
      <xs:element minOccurs="0" name="purchasePriceMinimum" type="xs:decimal" />
      <xs:element minOccurs="0" name="purchasePriceMaximum" type="xs:decimal" />
      <xs:element minOccurs="0" name="taxCode" type="xs:string" />
      <xs:element minOccurs="0" name="taxType" type="xs:string" />
      <xs:element minOccurs="0" name="nextServiceMinute" type="xs:int" />
      <xs:element minOccurs="0" name="nextServiceHour" type="xs:int" />
      <xs:element minOccurs="0" name="nextServiceDay" type="xs:int" />
      <xs:element minOccurs="0" name="nextServiceMonth" type="xs:int" />
      <xs:element minOccurs="0" name="nextServiceYear" type="xs:int" />
      <xs:element minOccurs="0" name="nextServiceUsage" type="xs:decimal" />
      <xs:element minOccurs="0" name="itemPriceObj" type="tns:itemPriceObject" />
      <xs:element minOccurs="0" name="articleScheme" type="xs:string" />
      <xs:element minOccurs="0" name="createdDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="smallImageGuid" type="xs:string" />
      <xs:element minOccurs="0" name="largeImageGuid" type="xs:string" />
      <xs:element minOccurs="0" name="sales_prompt" type="xs:string" />
      <xs:element minOccurs="0" name="pricingCode" type="xs:string" />
      <xs:element minOccurs="0" name="branchList" type="xs:string" />
      <xs:element minOccurs="0" name="startDate" type="xs:string" />
      <xs:element minOccurs="0" name="endDate" type="xs:string" />
      <xs:element minOccurs="0" name="code" type="xs:string" />
      <xs:element minOccurs="0" name="EANCode" type="xs:string" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="itemPriceObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="pkid" type="xs:int" />
      <xs:element minOccurs="0" name="itemId" type="xs:int" />
      <xs:element minOccurs="0" name="conditionId" type="xs:int" />
      <xs:element minOccurs="0" name="unitCost" type="xs:decimal" />
      <xs:element minOccurs="0" name="currency" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="xs:string" />
      <xs:element minOccurs="0" name="effectiveDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="lastUpdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="userIdUpdate" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getNextCategoryTree">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getNextCategoryTreeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:categoryTreeObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="categoryTreeObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="pkid" type="xs:long" />
      <xs:element minOccurs="0" name="parentId" type="xs:long" />
      <xs:element minOccurs="0" name="catLevel" type="xs:int" />
      <xs:element minOccurs="0" name="code" type="xs:string" />
      <xs:element minOccurs="0" name="sort" type="xs:string" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertTransactionQueue1">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertTransactionQueue1Response">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getNextItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getNextItemResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:itemObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getNextSerialNumberDelta">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getNextSerialNumberDeltaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:serialNumberDeltaObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="serialNumberDeltaObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="guid" type="xs:string" />
      <xs:element minOccurs="0" name="parentGuid" type="xs:string" />
      <xs:element minOccurs="0" name="namespace" type="xs:string" />
      <xs:element minOccurs="0" name="txnType" type="xs:string" />
      <xs:element minOccurs="0" name="txnCode" type="xs:string" />
      <xs:element minOccurs="0" name="personInCharge" type="xs:int" />
      <xs:element minOccurs="0" name="processNode" type="xs:int" />
      <xs:element minOccurs="0" name="stockId" type="xs:int" />
      <xs:element minOccurs="0" name="itemId" type="xs:int" />
      <xs:element minOccurs="0" name="itemCode" type="xs:string" />
      <xs:element minOccurs="0" name="refStockId" type="xs:int" />
      <xs:element minOccurs="0" name="quantity" type="xs:decimal" />
      <xs:element minOccurs="0" name="currency" type="xs:string" />
      <xs:element minOccurs="0" name="unitPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="currency2" type="xs:string" />
      <xs:element minOccurs="0" name="unitPrice2" type="xs:decimal" />
      <xs:element minOccurs="0" name="txnTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="schTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="warrantyStart" type="xs:dateTime" />
      <xs:element minOccurs="0" name="warrantyEnd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="remarks" type="xs:string" />
      <xs:element minOccurs="0" name="intReserved1" type="xs:int" />
      <xs:element minOccurs="0" name="strReserved1" type="xs:string" />
      <xs:element minOccurs="0" name="strReserved2" type="xs:string" />
      <xs:element minOccurs="0" name="strReserved3" type="xs:string" />
      <xs:element minOccurs="0" name="strReserved4" type="xs:string" />
      <xs:element minOccurs="0" name="entityTable" type="xs:string" />
      <xs:element minOccurs="0" name="entityId" type="xs:int" />
      <xs:element minOccurs="0" name="docTable" type="xs:string" />
      <xs:element minOccurs="0" name="docKey" type="xs:long" />
      <xs:element minOccurs="0" name="state" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="xs:string" />
      <xs:element minOccurs="0" name="userIdEdit" type="xs:int" />
      <xs:element minOccurs="0" name="timeEdit" type="xs:dateTime" />
      <xs:element minOccurs="0" name="stockDelta" type="xs:long" />
      <xs:element minOccurs="0" name="loyaltyLogic" type="xs:string" />
      <xs:element minOccurs="0" name="loyaltyPointsAwarded" type="xs:decimal" />
      <xs:element minOccurs="0" name="loyaltyPointsRedeemed" type="xs:decimal" />
      <xs:element minOccurs="0" name="unitCostCsg" type="xs:decimal" />
      <xs:element minOccurs="0" name="batchNumber" type="xs:string" />
      <xs:element minOccurs="0" name="expiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="serialNumber" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getNextCardPaymentConfig">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getNextCardPaymentConfigResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:cardPaymentConfigObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cardPaymentConfigObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="pkid" type="xs:int" />
      <xs:element minOccurs="0" name="namespace" type="xs:string" />
      <xs:element minOccurs="0" name="sortcode" type="xs:string" />
      <xs:element minOccurs="0" name="bankCode" type="xs:string" />
      <xs:element minOccurs="0" name="bankName" type="xs:string" />
      <xs:element minOccurs="0" name="paymentMode" type="xs:string" />
      <xs:element minOccurs="0" name="policyCharges" type="xs:string" />
      <xs:element minOccurs="0" name="pctCharges" type="xs:decimal" />
      <xs:element minOccurs="0" name="limitMin" type="xs:decimal" />
      <xs:element minOccurs="0" name="limitMax" type="xs:decimal" />
      <xs:element minOccurs="0" name="pccenterOpt" type="xs:string" />
      <xs:element minOccurs="0" name="pccenter" type="xs:int" />
      <xs:element minOccurs="0" name="branchOpt" type="xs:string" />
      <xs:element minOccurs="0" name="branch" type="xs:int" />
      <xs:element minOccurs="0" name="cashbookOpt" type="xs:string" />
      <xs:element minOccurs="0" name="cashbook" type="xs:int" />
      <xs:element minOccurs="0" name="status" type="xs:string" />
      <xs:element minOccurs="0" name="paymentType" type="xs:string" />
      <xs:element minOccurs="0" name="approvalParty" type="xs:string" />
      <xs:element minOccurs="0" name="defaultPaymentStatus" type="xs:string" />
      <xs:element minOccurs="0" name="defaultCardType" type="xs:string" />
      <xs:element minOccurs="0" name="defaultPaymentRemarks" type="xs:string" />
      <xs:element minOccurs="0" name="property1" type="xs:string" />
      <xs:element minOccurs="0" name="property2" type="xs:string" />
      <xs:element minOccurs="0" name="property3" type="xs:string" />
      <xs:element minOccurs="0" name="custAdminFeeOption" type="xs:string" />
      <xs:element minOccurs="0" name="custAdminFeeAbs" type="xs:decimal" />
      <xs:element minOccurs="0" name="custAdminFeeRatio" type="xs:decimal" />
      <xs:element minOccurs="0" name="custAdminFeeItemid" type="xs:int" />
      <xs:element minOccurs="0" name="custAdminFeeRoundingMode" type="xs:int" />
      <xs:element minOccurs="0" name="custAdminFeeRoundingScale" type="xs:int" />
      <xs:element minOccurs="0" name="custAdminFeeMinAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="custAdminFeeMaxAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="absCharges" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getPOSTransactionList">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getPOSTransactionListResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="tns:posTransactionItemSummaryObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="posTransactionItemSummaryObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="transactionTcPkid" type="xs:string" />
      <xs:element minOccurs="0" name="transactionCustMobileNumber" type="xs:string" />
      <xs:element minOccurs="0" name="transactionCreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="transactionAmount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getNextTaxConfig">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getNextTaxConfigResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:taxConfigObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="taxConfigObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="pkid" type="xs:int" />
      <xs:element minOccurs="0" name="guid" type="xs:string" />
      <xs:element minOccurs="0" name="taxType" type="xs:string" />
      <xs:element minOccurs="0" name="taxTypeDescription" type="xs:string" />
      <xs:element minOccurs="0" name="taxCode" type="xs:string" />
      <xs:element minOccurs="0" name="taxCodeDescription" type="xs:string" />
      <xs:element minOccurs="0" name="taxRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="status" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertCustUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:custUserObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="custUserObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="pkid" type="xs:int" />
      <xs:element minOccurs="0" name="username" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="nameFirst" type="xs:string" />
      <xs:element minOccurs="0" name="nameLast" type="xs:string" />
      <xs:element minOccurs="0" name="accId" type="xs:int" />
      <xs:element minOccurs="0" name="dob" type="xs:dateTime" />
      <xs:element minOccurs="0" name="expiry" type="xs:dateTime" />
      <xs:element minOccurs="0" name="title" type="xs:string" />
      <xs:element minOccurs="0" name="designation" type="xs:string" />
      <xs:element minOccurs="0" name="sex" type="xs:string" />
      <xs:element minOccurs="0" name="ethnic" type="xs:string" />
      <xs:element minOccurs="0" name="referenceNo" type="xs:string" />
      <xs:element minOccurs="0" name="icType" type="xs:string" />
      <xs:element minOccurs="0" name="mainAddress1" type="xs:string" />
      <xs:element minOccurs="0" name="mainAddress2" type="xs:string" />
      <xs:element minOccurs="0" name="mainAddress3" type="xs:string" />
      <xs:element minOccurs="0" name="mainCity" type="xs:string" />
      <xs:element minOccurs="0" name="mainPostcode" type="xs:string" />
      <xs:element minOccurs="0" name="mainState" type="xs:string" />
      <xs:element minOccurs="0" name="mainCountry" type="xs:string" />
      <xs:element minOccurs="0" name="telephone1" type="xs:string" />
      <xs:element minOccurs="0" name="telephone2" type="xs:string" />
      <xs:element minOccurs="0" name="homePhone" type="xs:string" />
      <xs:element minOccurs="0" name="mobilePhone" type="xs:string" />
      <xs:element minOccurs="0" name="faxNo" type="xs:string" />
      <xs:element minOccurs="0" name="homepage" type="xs:string" />
      <xs:element minOccurs="0" name="email1" type="xs:string" />
      <xs:element minOccurs="0" name="email2" type="xs:string" />
      <xs:element minOccurs="0" name="email3" type="xs:string" />
      <xs:element minOccurs="0" name="preference" type="xs:string" />
      <xs:element minOccurs="0" name="defaultPaymentMode" type="xs:string" />
      <xs:element minOccurs="0" name="defaultCardType" type="xs:string" />
      <xs:element minOccurs="0" name="defaultCardBank" type="xs:string" />
      <xs:element minOccurs="0" name="defaultCardName" type="xs:string" />
      <xs:element minOccurs="0" name="defaultCardNumber" type="xs:string" />
      <xs:element minOccurs="0" name="defaultCardSecurityNum" type="xs:string" />
      <xs:element minOccurs="0" name="defaultCardValidFrom" type="xs:dateTime" />
      <xs:element minOccurs="0" name="defaultCardGoodThru" type="xs:dateTime" />
      <xs:element minOccurs="0" name="loyaltyCardName1" type="xs:string" />
      <xs:element minOccurs="0" name="loyaltyCardNumber1" type="xs:string" />
      <xs:element minOccurs="0" name="loyaltyCardName2" type="xs:string" />
      <xs:element minOccurs="0" name="loyaltyCardNumber2" type="xs:string" />
      <xs:element minOccurs="0" name="loyaltyCardName3" type="xs:string" />
      <xs:element minOccurs="0" name="loyaltyCardNumber3" type="xs:string" />
      <xs:element minOccurs="0" name="loyaltyCardName4" type="xs:string" />
      <xs:element minOccurs="0" name="loyaltyCardNumber4" type="xs:string" />
      <xs:element minOccurs="0" name="securityCheck" type="xs:string" />
      <xs:element minOccurs="0" name="state" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="xs:string" />
      <xs:element minOccurs="0" name="lastupdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="useridEdit" type="xs:int" />
      <xs:element minOccurs="0" name="nationality" type="xs:string" />
      <xs:element minOccurs="0" name="maritalStatus" type="xs:string" />
      <xs:element minOccurs="0" name="educationLevel" type="xs:string" />
      <xs:element minOccurs="0" name="grossHouseholdIncome" type="xs:string" />
      <xs:element minOccurs="0" name="profession" type="xs:string" />
      <xs:element minOccurs="0" name="householdNumber" type="xs:int" />
      <xs:element minOccurs="0" name="householdJunior" type="xs:int" />
      <xs:element minOccurs="0" name="householdSenior" type="xs:int" />
      <xs:element minOccurs="0" name="contactAddress1" type="xs:string" />
      <xs:element minOccurs="0" name="contactAddress2" type="xs:string" />
      <xs:element minOccurs="0" name="contactAddress3" type="xs:string" />
      <xs:element minOccurs="0" name="contactCity" type="xs:string" />
      <xs:element minOccurs="0" name="contactPostcode" type="xs:string" />
      <xs:element minOccurs="0" name="contactState" type="xs:string" />
      <xs:element minOccurs="0" name="contactCountry" type="xs:string" />
      <xs:element minOccurs="0" name="businessAddress1" type="xs:string" />
      <xs:element minOccurs="0" name="businessAddress2" type="xs:string" />
      <xs:element minOccurs="0" name="businessAddress3" type="xs:string" />
      <xs:element minOccurs="0" name="businessCity" type="xs:string" />
      <xs:element minOccurs="0" name="businessPostcode" type="xs:string" />
      <xs:element minOccurs="0" name="businessState" type="xs:string" />
      <xs:element minOccurs="0" name="businessCountry" type="xs:string" />
      <xs:element minOccurs="0" name="businessNature" type="xs:string" />
      <xs:element minOccurs="0" name="salesman" type="xs:int" />
      <xs:element minOccurs="0" name="content" type="xs:string" />
      <xs:element minOccurs="0" name="displayTemplate" type="xs:string" />
      <xs:element minOccurs="0" name="displayStyle" type="xs:string" />
      <xs:element minOccurs="0" name="displayFormat" type="xs:string" />
      <xs:element minOccurs="0" name="displayType" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vecMemberCard" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="creditTerms" type="xs:int" />
      <xs:element minOccurs="0" name="creditLimit" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertCustUserResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getNextSuppAccount">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getNextSuppAccountResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:suppAccountObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="suppAccountObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="pkid" type="xs:int" />
      <xs:element minOccurs="0" name="suppAccountCode" type="xs:string" />
      <xs:element minOccurs="0" name="name" type="xs:string" />
      <xs:element minOccurs="0" name="description" type="xs:string" />
      <xs:element minOccurs="0" name="accType" type="xs:int" />
      <xs:element minOccurs="0" name="status" type="xs:string" />
      <xs:element minOccurs="0" name="lastUpdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="userIdUpdate" type="xs:int" />
      <xs:element minOccurs="0" name="username" type="xs:string" />
      <xs:element minOccurs="0" name="password" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="nameFirst" type="xs:string" />
      <xs:element minOccurs="0" name="nameLast" type="xs:string" />
      <xs:element minOccurs="0" name="nickname" type="xs:string" />
      <xs:element minOccurs="0" name="title" type="xs:string" />
      <xs:element minOccurs="0" name="designation" type="xs:string" />
      <xs:element minOccurs="0" name="identityNumber" type="xs:string" />
      <xs:element minOccurs="0" name="mainAddress1" type="xs:string" />
      <xs:element minOccurs="0" name="mainAddress2" type="xs:string" />
      <xs:element minOccurs="0" name="mainAddress3" type="xs:string" />
      <xs:element minOccurs="0" name="mainCity" type="xs:string" />
      <xs:element minOccurs="0" name="mainPostcode" type="xs:string" />
      <xs:element minOccurs="0" name="mainState" type="xs:string" />
      <xs:element minOccurs="0" name="mainCountry" type="xs:string" />
      <xs:element minOccurs="0" name="shipAddress1" type="xs:string" />
      <xs:element minOccurs="0" name="shipAddress2" type="xs:string" />
      <xs:element minOccurs="0" name="shipAddress3" type="xs:string" />
      <xs:element minOccurs="0" name="shipCity" type="xs:string" />
      <xs:element minOccurs="0" name="shipPostcode" type="xs:string" />
      <xs:element minOccurs="0" name="shipState" type="xs:string" />
      <xs:element minOccurs="0" name="shipCountry" type="xs:string" />
      <xs:element minOccurs="0" name="billAddress1" type="xs:string" />
      <xs:element minOccurs="0" name="billAddress2" type="xs:string" />
      <xs:element minOccurs="0" name="billAddress3" type="xs:string" />
      <xs:element minOccurs="0" name="billCity" type="xs:string" />
      <xs:element minOccurs="0" name="billPostcode" type="xs:string" />
      <xs:element minOccurs="0" name="billState" type="xs:string" />
      <xs:element minOccurs="0" name="billCountry" type="xs:string" />
      <xs:element minOccurs="0" name="telephone1" type="xs:string" />
      <xs:element minOccurs="0" name="telephone2" type="xs:string" />
      <xs:element minOccurs="0" name="homePhone" type="xs:string" />
      <xs:element minOccurs="0" name="mobilePhone" type="xs:string" />
      <xs:element minOccurs="0" name="faxNo" type="xs:string" />
      <xs:element minOccurs="0" name="homepage" type="xs:string" />
      <xs:element minOccurs="0" name="email1" type="xs:string" />
      <xs:element minOccurs="0" name="email2" type="xs:string" />
      <xs:element minOccurs="0" name="email3" type="xs:string" />
      <xs:element minOccurs="0" name="creditLimit" type="xs:decimal" />
      <xs:element minOccurs="0" name="creditTerms" type="xs:int" />
      <xs:element minOccurs="0" name="property1" type="xs:string" />
      <xs:element minOccurs="0" name="property2" type="xs:string" />
      <xs:element minOccurs="0" name="property3" type="xs:string" />
      <xs:element minOccurs="0" name="property4" type="xs:string" />
      <xs:element minOccurs="0" name="property5" type="xs:string" />
      <xs:element minOccurs="0" name="note" type="xs:string" />
      <xs:element minOccurs="0" name="alertMsg" type="xs:string" />
      <xs:element minOccurs="0" name="glcode" type="xs:string" />
      <xs:element minOccurs="0" name="taxCode" type="xs:string" />
      <xs:element minOccurs="0" name="taxType" type="xs:string" />
      <xs:element minOccurs="0" name="taxRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="supplierLogic" type="xs:string" />
      <xs:element minOccurs="0" name="supplierLogicId" type="xs:long" />
      <xs:element minOccurs="0" name="category" type="xs:string" />
      <xs:element minOccurs="0" name="categoryId" type="xs:long" />
      <xs:element minOccurs="0" name="main2Address1" type="xs:string" />
      <xs:element minOccurs="0" name="main2Address2" type="xs:string" />
      <xs:element minOccurs="0" name="main2Address3" type="xs:string" />
      <xs:element minOccurs="0" name="main2City" type="xs:string" />
      <xs:element minOccurs="0" name="main2Postcode" type="xs:string" />
      <xs:element minOccurs="0" name="main2State" type="xs:string" />
      <xs:element minOccurs="0" name="main2Country" type="xs:string" />
      <xs:element minOccurs="0" name="main2Telephone1" type="xs:string" />
      <xs:element minOccurs="0" name="main2Telephone2" type="xs:string" />
      <xs:element minOccurs="0" name="main2HomePhone" type="xs:string" />
      <xs:element minOccurs="0" name="main2MobilePhone" type="xs:string" />
      <xs:element minOccurs="0" name="main2FaxNo" type="xs:string" />
      <xs:element minOccurs="0" name="main2Homepage" type="xs:string" />
      <xs:element minOccurs="0" name="main2Email" type="xs:string" />
      <xs:element minOccurs="0" name="mainAddressDesc" type="xs:string" />
      <xs:element minOccurs="0" name="main2AddressDesc" type="xs:string" />
      <xs:element minOccurs="0" name="bizEntityType" type="xs:string" />
      <xs:element minOccurs="0" name="companyRegistrationNumber" type="xs:string" />
      <xs:element minOccurs="0" name="ownerName" type="xs:string" />
      <xs:element minOccurs="0" name="bankIdentifierCode" type="xs:string" />
      <xs:element minOccurs="0" name="bankAccNo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getServerTime">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getServerTimeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getNextOfficialReceipt">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getNextOfficialReceiptResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:officialReceiptObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getNextCustUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getNextCustUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:custUserObject" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>